.loginPage {
    width: 50%;
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

.loginForm {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

}

.formGroup {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.loginBtn {
    width: 100px;
    margin: auto auto;
}

label {
    font-size: 15px;
    margin: 0 0 5px 0;
}

input {
    width: 250px;
    height: 25px;
}